*{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav{
    display:inline-block;
}

a{
    text-decoration: none;
    color:red;
}
/*
nav ul {
    display: inline-block;
}
*/
li ul{
    visibility: hidden;
}