*{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
body{
    font-size: 20px;
    background-color: rgb(124, 130, 130);
    font-family: "宋体","微软雅黑";
    list-style-type:none;
    border-collapse: collapse;
}
div{
    border: 2px solid red;
    border-collapse: collapse;
}
.box{
    height: 960px;
}
header{
    height: 200px;
    border: black 5px solid;
}
.title{
    height: 150px;
}

.daohang{
    height: 40px;
    border: white solid 5px;
    text-align: center;
}
.daohang li{
    border: purple solid 5px;
    padding: 0 auto;
}
.content{
    height: 450px;
    border: purple solid 5px;
}
.content .intro{
    width: 29%;
    height: 450px;
    border: white solid 1px;
    float:left;
}
.neirong{
    float: right;
    width: 70%;
    height: 450px;
    border: black solid 1px;
}
footer{
    height: 50px;
    border: white solid 1px;
}